body {
	font-family: "Happy Monkey", 
	cursive;
}

.container {
	width:800px;
	text-shadow: 1px 1px 0px #000000;
	padding-right: 50px;
	padding-left: 50px;
}

p {
	color:#707070;
}

li {
	color:#707070;
}

header {
	text-align: center;
}

h1 {
	color:#DB0038;
}  

h2 {
	color:#3998A3;
}

h3 {
 	color:#474747;
}

#banner {
	background-color: #f4f4f4;
	padding-bottom: 10px;
	text-align: center;
}

.tocenter {
	
}

li {
	padding-bottom: 5px;
	padding-top: 5px;
}

span {
	color:#f4b400;
	font-size:25px;
}